@import java.nio.file.Paths

@(repoItemList: Seq[RepoItem], username: String, repoName: String, path: String)
@main("Folder Contents"){
    <div class="container mb-5">
        <h1>Making GitHub with Scala Play</h1>

        <p><a class="image-text-link" href="@routes.HomeController.index">
            <img class="link-icon" src="@routes.Assets.versioned("images/home-icon.png")" alt="Home Icon">
            Back to Home
        </a></p>
        @if(Paths.get(path).getParent != null) {
            <p><a class="image-text-link" href="@routes.ApplicationController.getFromPath(username, repoName, Paths.get(path).getParent.toString)">
                <img class="link-icon" src="@routes.Assets.versioned("images/back-icon.png")" alt="Back Icon">
                Back one level
            </a></p>
        } else {
            <p><a class="image-text-link" href="@routes.ApplicationController.getRepoItems(username, repoName)">
                <img class="link-icon" src="@routes.Assets.versioned("images/back-icon.png")" alt="Back Icon">
                Back one level
            </a></p>
        }
    </div>

    <div class="container mb-5">
        <h2>Repository @repoName by @username</h2>
        <h3>Contents of folder: <i>@path</i></h3>
        <p><a href="@routes.ApplicationController.createForm(username, repoName, path)" class="button-link"> + Add a file here </a></p>
        @if(repoItemList.isEmpty) {
            <p>No items in folder.</p>
        } else {
            <ul class="list">
            @for(item <- repoItemList) {
                <li class="list-item">
                    <span class="bullet"></span>
                    <a class="image-text-link" href="@routes.ApplicationController.getFromPath(username, repoName, item.path)">
                        @if(item.itemType == "file") {
                            <img class="link-icon" src="@routes.Assets.versioned("images/file-icon.png")" alt="File Icon">
                        } else {
                            <img class="link-icon" src="@routes.Assets.versioned("images/folder-icon.png")" alt="Folder Icon">
                        }
                        @item.name
                    </a>
                </li>
            }
            </ul>
    </div>
    }
}